html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#meuvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#meuaudio {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    object-fit: cover;
}

.relogio {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4e3030;
    font-family: "Sedan", serif;
}

.display {
    width: 300px;
    height: 400px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    font-size: 5rem;
}

footer {
    font-size: 2rem;
    margin-top: 10px;
}

.jogo1 {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
}

.jogo1 img {
    width: 45px;
    height: 45px;
    margin-right: 90px;
}

.versus {
    position: absolute;
    top: 1%;
    left: 4.6%;
}

.versus img {
    width: 35px;
    margin-right: 150px;
    height: auto;
    color: white;
}

.text-container {
    color: white;
    font-family: "Sedan", serif;
    margin-left: 210px;
}

#link {
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#link button {
    background-color: transparent;
    border: 1px solid #ffffff34;
    padding: 10px 15px;
    color: white;
    font-family: "Sedan", serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

#link button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#link a {
    text-decoration: none;
    color: white;
}

.jogo2 {
    position: absolute;
    top: 18%;
    left: 0%;
    z-index: 2;
}

.jogo2 img {
    width: 45px;
    height: 45px;
    margin-right: 90px;
}

.versus2 {
    position: absolute;
    top: 19.1%;
    left: 4.6%;
}

.versus2 img {
    width: 35px;
    margin-right: 150px;
    height: auto;
    color: white;
}

.text-container2 {
    color: white;
    font-family: "Sedan", serif;
    margin-left: 205px;
    margin-top: 70px;
}

#link2 {
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#link2 button {
    background-color: transparent;
    border: 1px solid #ffffff34;
    padding: 10px 15px;
    color: white;
    font-family: "Sedan", serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

#link2 button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#link2 a {
    text-decoration: none;
    color: white;
}

.jogo3 {
    position: absolute;
    top: 36%;
    left: 0%;
    z-index: 2;
}

.jogo3 img {
    width: 45px;
    height: 45px;
    margin-right: 90px;
}

.versus3 {
    position: absolute;
    top: 38.2%;
    left: 4.6%;
}

.versus3 img {
    width: 35px;
    margin-right: 150px;
    height: auto;
    color: white;
}

.text-container3 {
    color: white;
    font-family: "Sedan", serif;
    margin-left: 205px;
    margin-top: 70px;
}

#link3 {
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#link3 button {
    background-color: transparent;
    border: 1px solid #ffffff34;
    padding: 10px 15px;
    color: white;
    font-family: "Sedan", serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

#link3 button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#link3 a {
    text-decoration: none;
    color: white;
}